@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap");
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}
header{
    background-color: none;
   
}
nav{
    background-color: none;
    
}
.nav-logo h1{
    color: white;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}
.nav-menu{
    
    flex: 1;
}
.nav-menu .nav-list{
   
    display: flex;
    justify-content: end;
    gap: 2rem;
  
    align-items: center;

}
.nav-list li{
    list-style: none;
}
.nav-list li a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    transition: .1;
}
.nav-list li a:hover{
    color: #007fa4;
}
.header-section{

}
.section-container{
    padding: 1rem;
}
.section-header{
 margin-top: 1rem;
    padding: 3.5rem 0.5rem;
    
}
.section-header h1{
    color: #ffffff;
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    text-transform: uppercase;
}
.section-header p{
    color: #ffffff;
    text-align: justify;
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.section-header .btn button{
    margin-top: 1rem;
    background-color: #00bbf0;
    color: #ffffff;
    border: none;
    padding: 0.85rem 2.7rem;
    font-size: 1rem;
    cursor: pointer;
    transition: .2s ease-in;
}
.section-header .btn button:hover{
    
    background-color: #085870;
}
.header-section{
  
  
   width: 100%;

}
.section-header{
    width: 100%;

    display: flex;

    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
img{
    display: flex;
    max-width:90%;

}
.section-content{
    max-width: 470px;
    padding: 1rem 2rem;
}
.section-1{
    width: 100%;
    padding:1rem 1rem;
}
.section-1-content{

}
.section-1-content h1{
    text-align: center;
}
.section-1-content h1 span{
    color: #00bbf0;
}
.section-1-content p{
    text-align: center;
}
.section-1 .section-1-grid {
    margin-top: 2rem;
display: grid;
gap: 1rem;
justify-content: center;



}
.section-1-grid-card{
   

    max-width: 530px;
    padding: 1rem 1rem;
    background-color: #f5f7f8;
    text-align: center;
    



}
.section-1-grid-card i{
    text-align: center;
    font-size: 4rem;
   
    margin: 1rem 0rem;
}
.section-1-grid-card h3{
    font-size: 1.3rem;
   
    margin: 1rem 0rem;
    text-transform: uppercase;
}
.section-1-content p{
    margin-top: 1rem;
    line-height: 1.8;
}
.section-1-grid-card .grid-a{
    color: #043069;
    cursor: pointer;
    margin: 1rem 0rem;
}
.section-1-grid-card .grid-a:hover{
    color: #085870;
}
.section-1 .section-1-button{
    margin:2rem 0rem;
    text-align: center;
}
.section-1 .section-1-button button{
    background-color: #00bbf0;
    padding: 1rem 2.5rem;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
}
.section-1 .section-1-button button:hover{
    background-color: #007fa4;

}
.section-1{
    margin: 2rem 0rem;
}
.section-2{
    width: 100%;
    background-color: #00204a;

    margin: 1rem 0rem;
}
.section-2-content{
    padding: 1rem;
    margin: 1rem 0rem;
}
.section-2-content h1{
    text-align: center;
    color: white;
    line-height: 1.5;
}
.section-2-content h1 span{
    color: #00bbf0;
}
.section-2-content p{
    line-height: 1;
    color: white;
    text-align: center;
    margin: 0rem;
}
.section-2-grid{
    padding: 0.5rem;
}
.section-2-grid{
    width: 100%;
    display: grid;
    grid-template-columns: auto;
   justify-content: center;
    gap: 1rem;
 
}
.section-2-card-content-class{
    padding: 1rem;
    max-width: 550px;


}
.section-2-card-img-class{
    width: 100%;
    max-width: 550px;
}
.section-2-card-content-class h3{
    font-size: 1.8rem;
    line-height: 1.8;
    color: #f5f7f8;
}
.section-2-card-content-class p{
    margin: 1rem 0rem;
    line-height: 1.8;
    color: #f5f7f8;
}
.section-2-btn button{
    margin: 1.5rem 0rem;
    background-color: #00bbf0;
    color: white;
    padding: 1rem 3rem;
    border: none;
    cursor: pointer;

}
.section-2-btn button:hover{
    background-color: #6b8bb6;
}
.section-3-button button{
    justify-content: center;
    margin: 1.5rem 0rem;
    background-color: #00bbf0;
    color: white;
    padding: 1rem 3rem;
    border: none;
    cursor: pointer;

}
.section-3-button button:hover{
    background-color: #6b8bb6;
}
.section-3{
    padding: 2rem;
}
.section-3-content{
    padding: 1rem;

}
.section-3-content{
    text-align: center;
    margin: 3rem 1rem;
    
}
.section-3-grid{
    display: grid;
    gap: 3rem;
}
.section-3-content h1 span{
 color: #00bbf0;
}
.section-3-grid-card{
    padding: 0.1rem;
    text-align: center;
}
.section-3-grid-card i{
    padding: 1.2rem;
    margin: 2rem 0rem;
    font-size: 4rem;
    border-radius: 50%;
    border:5px solid rgb(22, 22, 51);
    
}
.section-3-grid-card h3{
    letter-spacing: 1px;
    font-size: 1.3rem;
    margin: 1rem 0rem;
    margin-top: 2rem;
}
.section-3-grid-card p{
    line-height: 1.5;
}
.section-4{
    padding:2rem;
    background-color: #0c2b55;
  
}
.section-4-content{
    text-align: center;
    margin: 2rem 0rem;
}
.section-4-content h1{
    color: #f5f7f8;
}
.section-4-content h1 span{
    color: #00bbf0;
}
.section-4-grid{
    display: grid;
    gap: 1.5rem;
}
.section-4-grid-card img{
    border-radius: 50%;
    border: 5px solid white;
    height: 120px;
    width: 120px;
    margin: 1.5rem 0rem;
   
}

.section-4-grid-card h3{
    color: #00bbf0;
    font-weight: 600;
    margin: 0rem 0rem;
}
.section-4-grid-card a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin: 0.5rem 0rem;
}
.section-4-grid-card{
    text-align: center;
    background-color: #043069;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-4-grid-card .section-4-icons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 1.5rem 1rem;

    
}
.section-4-icons i{
    font-size: 1.4rem;
    color: white;
}
.section-5{
    padding: 2rem 1rem;
}
.section-5 .section-5-content {
    text-align: center;
}
.section-5-grid{
    display: grid;
    justify-content: center;
}
.section-5-grid-card{
   
    max-width: 600px;
    
}
.section-5-content-card {
    text-align: left;
    
}
.section-5-content-card h4{
    color: #313131;
    line-height: 1.5;
}
.section-5-content-card a{
    color: #313131;
    font-weight: 500;
    font-size: 0.9rem;

   
}
.section-5-content-card p{
  
   
}
.section-5-content-buttons {
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    display: flex;

   
}

.section-5-content-buttons i{
    font-weight: 550;
    border: 1px solid rgb(228, 223, 223);
    margin-top: 2rem;
    padding: 0.9rem 0.9rem;
    background-color: #fffefe;
    cursor: pointer;
    font-size: 1.5rem;
}
.section-5-content-card{
    padding: 1rem;
    margin-top: 2rem;
    background-color: #f5f7f8;
}
.section-5-content-card img{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    transform: translateY(-50%);
}
.footer-section{
    width: 100%;
    margin-top: 3rem;
    padding:1rem;
    background-color: #0c2b55;
}
.footer-section-grid{
    display: grid;
    justify-content: center;
    gap: 1rem;
}
.footer-section-grid-card h3{
    color: white;
    line-height: 2;
    font-size: 1.4rem;
}
.footer-section-grid-card h5{
    margin-top: 1rem;
    font-size: 1rem;
    color: white;
    font-weight: 400;
}

.footer-section-grid-card i{
    font-size: 1.1rem;
    margin-right: 0.4rem;
    
}
.footer-section-grid-card .footer-list a {
    text-decoration: none;
  
    
  
}
.footer-section-grid-card .footer-list a {
   margin-top: 1rem;
    font-size: 2rem;
    color: white;
  
    line-height: 2;
    display: flex;
    justify-content: start;
    gap: 0.2rem;
    cursor: auto;
}
.footer-list a i{
    text-align: left;
    font-size: 1.55rem;
    cursor: pointer;
    transform: .2s;
    margin-right: 0rem;

}
.footer-section-grid-card{
    margin-top: 1rem;
}
.footer-list a i:hover{
    color: #3d7ed4;
}
.footer-section-grid-card p{
    color: white;
}
.footer-section-grid-card ul li{
    color: white;
    list-style: none;
}
.footer-list-2{
    max-width: 530px;
    margin-top: 1rem;
    padding-right: 1rem;
    line-height: 1.5;
}
.footer-list-3{
    margin-top: 1rem;
}
.footer-list-3 ul {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}
.footer-list-3 ul li{
    cursor: pointer;
}
.footer-list-3 ul li:hover{
    color: #2463b4;
}
.footer-section input{
    border:none;
    outline: none;
    border-bottom: 1.5px solid white;
    padding: 1rem 0.2rem;
    background-color: transparent;
    color: white;
}
.footer-section input::placeholder{
    color: white;
}
.footer-list-4{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-list-4 button{
    background-color: #00bbf0;
    border: none;
    padding:0.8rem ;
    color: #f5f7f8;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.footer-list-4 button:hover{
    background-color: #105d80;
}
.main-footer{
    text-align: center;
    padding: 2rem;
    width: 100%;
}
.main-footer a{
    text-decoration: none;
    color: #043069;
    cursor: auto;
}

@media screen and (min-width:770px){
    .section-5-grid{
        padding: 2rem;
    }
.section-5-grid{
    grid-template-columns: auto auto;
    gap: 2rem;
}
.footer-section{
    padding: 1rem 4rem;
}
.footer-section-grid{
    
    grid-template-columns: auto auto;
  column-gap: 10rem;
 
}
}
@media screen and (min-width:570px){
    .section-4-grid{
        grid-template-columns: auto auto;
    }
   .section-4-grid-card .section-4-icons{
       justify-content: space-between;
        justify-content: center;
       gap: 0.5rem;
    }
}
@media screen and (min-width:990px){
    .footer-section{
        padding: 1rem 2rem;
    }
    .footer-section-grid{
        grid-template-columns: auto auto auto auto;
        column-gap: 5rem;
    }
    .section-4-grid{
        grid-template-columns: auto auto auto auto;
    }
   .section-4-grid-card .section-4-icons{
       justify-content: space-between;
        justify-content: center;
       gap: 0.2rem;
    }
}
@media screen and (min-width:770px){
    .section-1-grid{
    grid-template-columns: auto auto auto;
    }
    .section-2-grid{
        justify-content: center;
        align-items: center;
        grid-template-columns: auto auto;
    }
    .section-2-card-content-class{
        max-width: 380px;
    }
    .section-2-card-img-class{
        max-width: 470px;
    }
}
@media screen and (min-width:990px){
    .section-1-grid{
    grid-template-columns: auto auto auto;
    }
    .section-2-grid{
        justify-content: center;
        align-items: center;
        grid-template-columns: auto auto;
    }
    .section-2-card-content-class{
        max-width: 450px;
    }
    .section-2-card-img-class{
        max-width: 470px;
    }
}
@media screen and (max-width:770px){
    .section-header{
        
        width: 100%;
    padding: 1rem 0.5rem;
        display: flex;
    
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .section-content{
        max-width: 580px;
     

    }
    .section-content h1{
        margin-right: 8rem;
    }
   
  
    .header-section img{
        width: 75%;
     
    }
   
      
}
.section-5-content-card .admin-class{
  transform: translateY(-25px);
  
}
.section-5-content-card .admin-class a{
    line-height: 1.5;

}
.section-5-content-card .admin-class h4{
    line-height: 1.5;

}
.section-5-content-card .admin-class p{
    margin-top: 1rem;
    line-height: 1.5;

}

.section-header{
    position: relative;
}
.header-section-img img{
    height: 350px;
    width: 42%;
    position: absolute;
    animation: topmove 3s linear infinite alternate;
}
@keyframes topmove {
    0% {
       left: 50%;
        right: 0;
        bottom: 0;
        transform: translateY(-5%);

    }
    100% {
        left: 50%;
        transform: translateY(-25%);
        right: 0;
        bottom: 0;
    }
  }
  
  @media screen and (max-width:990px){
      .section-header{
          max-width: 95%;
          margin:auto;
          justify-content: center;
          justify-content: space-between;
          gap: 10rem;
          padding: 1rem 1rem;
          align-items: center;
      }
      .section-header .section-content{
          max-width: 350px;
      }
    .header-section-img img{
        height: 300px;
        width: 40%;
        position: absolute;
        animation: topmove 3s linear infinite alternate;
    }
  }
  @media screen and (max-width:770px){
    .section-header{
        padding-bottom: 5rem;
        height: 850px;
        max-width: 95%;
        margin:auto;
        justify-content: center;
        justify-content: space-between;
        flex-direction: column;
        
        gap: 10rem;
        padding: 1rem 1rem;
    }
    .section-header .section-content{
        max-width: 550px;
    }
  .header-section-img img{
      height: 42%;
      width: 75%;
      position: absolute;
      animation: topmove 3s linear infinite alternate;
  }
  @keyframes topmove {
    0% {
       left: 15%;
        right: 0;
        bottom: 0;
        bottom: 0%;
        top: 60%;
        transform: translateY(-25%);

    }
    100% {
        top: 60%;
        left: 15%;
        transform: translateY(-45%);
        right: 0;
        bottom: 0%;
    }
  }
}
.section-header{
    margin: auto;
    max-width: 1200px;
}
header nav{
    margin: auto;
    max-width: 1200px;
}
.section-responsive-footer { 
    max-width: 1000px;
    margin: auto;
}
.section-responsive{
    margin: auto;
    max-width: 1200px;
}
@media screen and (min-width:1200px){
.section-5-grid-card .section-content-card{
    width: 550px;
}
.section-5-grid-card {
    width: 550px;
}
.footer-section-grid{
    gap: 8rem;
}
.footer-list-2{
  max-width: 300px;
}
}
@media screen and (max-width:991px){
    nav{
        justify-content: space-between;
    }
header{
    position: relative;
}
   
 
nav .nav-menu .nav-list{

    width: 100%;
    color: black;
    background-color: transparent;
    position: absolute;
    top:100px;
    left: 0;
  
flex-direction: column;
text-align: center;
display: none;
z-index: 888888;

}
nav .nav-menu .nav-list.open{
    z-index: 999999;
    display:flex;
    background-color: #04152e;
    padding: 1rem;

 }
.nav-menu .nav-list ul li a{
    color: rgb(83, 83, 74);
    
}
nav .nav-menu.open{
    display: flex;
    
}
nav .menu-icon{
    display: block;
}
.menu-icon i{
    color: white;
    font-size: 2.5rem;
    cursor: pointer;
}
}
.section-2-content h1{
    line-height: 2;
} 
.section-2-content p{
    margin-top: 0.5rem;
}
.section-5-content h1 {
    margin: 2.5rem 0rem;
line-height: 2;

}
.section-5-content h1 span{
    color: #247fb4;
}
header{
        
  
}


@media screen and (min-width:991px){
    header{
        
        background-image: url('images/hero-bg.png');
        background-size: cover;
        width: 100%;
        height: 765px;
            
    background-color: #ffffff; 
    }
   
    nav{
        background-color: none;
        
    }
}
@media screen and (min-width:1050px){
    header{
        
        background-image: url('images/hero-bg.png');
        background-size: cover;
        width: 100%;
        height: 900px;
            
    background-color: #ffffff; 
    }
   
}

@media screen and (min-width:991px){
    .section-header{
        max-width: 95%;
        max-width: 1200px;
        margin:auto;
        justify-content: center;
        justify-content: space-between;
        gap: 10rem;
        padding: 1rem 1rem;
        align-items: center;
        margin-top: 12%;
    }
}
@media screen and (min-width:1400px){
    .header-section-img img{
        height: 400px;
        width: 45%;
        position: absolute;
        animation: topmove 2s linear infinite alternate;
    }
    @keyframes topmove {
        0% {
           left: 50%;
            right: 0;
            bottom: 0;
            transform: translateY(-5%);
    
        }
        100% {
            left: 50%;
            transform: translateY(-15%);
            right: 0;
            bottom: 0;
        }
      }
    header{
        
        background-image: url('images/hero-bg.png');
        background-size: cover;
        width: 100%;
        height: 1200px;
            
    background-color: #ffffff; 
    }
    .section-header{
        max-width: 95%;
        max-width: 1200px;
        margin:auto;
        justify-content: center;
        justify-content: space-between;
        gap: 10rem;
        padding: 1rem 1rem;
        align-items: center;
        margin-top: 25%;
    }
    .section-content{
        max-width: 550px;
    }
    .section-content h1{
        margin-right: 3rem;
        font-weight: 700;
    }
}
.section-responsive-nav{
    max-width: 100%;
    padding: 1rem 2rem;
}
@media screen and (min-width:900px){
.section-5-grid-card{
    width: 400px;
}}
@media screen and (max-width:990px){


header{
        
    
    background: linear-gradient(130deg, #231a6f, #0f054c);
   }}
   .btn-swiper-flex{

       margin-top: 5rem;
       display: flex;
       gap: 0.1rem;
       width: 100% !important;
       justify-content: center;
   }
   .swiper-button-prev{

    background-color: rgb(255, 255, 255);
   
    text-align: center !important;
    position: static !important;
  
    padding:1.75rem 1rem!important;
   
    padding-left: 2.5rem !important;
   width: 10px !important;
 display: flex;
 justify-content: center;
 align-items: center;
  
    color: #0c0c0c !important;
    border: 1px solid rgb(233, 231, 231);
   
    color: transparent !important;
  
}
.swiper-button-next{
    background-color: rgb(255, 255, 255);
    
    text-align: center !important;
    position: static !important;
    
   
    padding:1.75rem 1rem!important;
   
    padding-left: 2.5rem !important;
    border: 1px solid rgb(233, 231, 231);
  color: transparent !important;
    
    
}
.swiper-button-next i{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(34, 34, 34) !important;
    font-size: 1.5rem !important;
}
.swiper-button-prev i{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(34, 34, 34) !important;
    font-size: 1.5rem !important;
    font-weight: 400 !important;
}
@media screen and (min-width:770px){
.section-5-responsive

{width: 90%;
    padding: 1rem 4.5rem;
margin: auto;
}}
@media screen and (min-width:770px){
    .section-5-responsive
    
    {width: 95%;
        padding: 1rem 2.5rem;
    margin: auto;
    }}
    .section-5{
        max-width: 1200px;
    }
    @media screen and (max-width:445px){
        .section-content{
            width: 350px;
        }
        .section-3-content{
            width: 100%;
            padding: 1rem 0.1rem;
        }
        .section-3-content h1{
            margin: 0rem;
            font-size: 1.8rem;
        }
        .section-responsive{
            width: 100%;
        }
        .section-3{
            width: 100%;
        }
    }
    @media screen and (max-width:300px){
        .section-content{
            padding: 0rem;
            width: 250px;
        }
        .section-content h1{
            margin: 1rem 0rem;
            font-size: 1.8rem;
        }
        .section-header{
            padding-bottom: 5rem;
            height: 690px;
            max-width: 95%;
            margin:auto;
            justify-content: center;
            justify-content: space-between;
            flex-direction: column;
            
            gap: 10rem;
            padding: 1rem 1rem;
        }
    }

    .grid-icon{
        display: flex;
        justify-content: center;
    }
  
    .grid-icon img{

       
        width: 70px;
        height: 70px;
    }
    .section-3-card-icon{
        display: flex;
        justify-content: center;
        width: 100%;
    
    }
    .section-3-grid-card{
        margin-top: 0rem;
    }
    .section-3-card-icon .grid-icon{
        
        border: 5px solid  #04152e;
       border-radius: 50%;
       padding: 1.5rem;
      

    }
    .section-3-card-icon .grid-icon img{
        width: 60px;
        height: 60px;
    } 
   .section-3-content{
       margin-top: 1rem;
       margin-bottom: 1.5rem;
   }
   .section-4-icons i{
       cursor: pointer;
       font-size: 1.5rem;
   }
   .section-4-icons i:hover{
 color: #00bbf0;
}
